@use "./normalize.scss";

/* Regular (Обычный) */
@font-face {
  font-family: "Inter";
  src:
    url("../fonts/Inter_18pt-Regular.woff2") format("woff2"),
    url("../fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium (Средний) */
@font-face {
  font-family: "Inter";
  src:
    url("../fonts/Inter_18pt-Medium.woff2") format("woff2"),
    url("../fonts/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Bold (Жирный) */
@font-face {
  font-family: "Inter";
  src:
    url("../fonts/Inter_18pt-Bold.woff2") format("woff2"),
    url("../fonts/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ExtraBold (Экстра Жирный) */
@font-face {
  font-family: "Inter";
  src:
    url("../fonts/Inter_18pt-ExtraBold.woff2") format("woff2"),
    url("../fonts/Inter_18pt-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* --- Unbounded --- */

/* SemiBold (Полужирный) */
@font-face {
  font-family: "Unbounded";
  src:
    url("../fonts/Unbounded-SemiBold.woff2") format("woff2"),
    url("../fonts/Unbounded-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #f1eeee;
}

.container {
  max-width: 1240px;
  padding: 0px 20px;
  width: 100%;
  margin: 0 auto;
}

$brand-color: #e15b00;

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
}
.header__wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.header__logo {
  width: 220px;
  height: 50px;
  flex-shrink: 0;
  img {
    object-fit: contain;
  }
}

.header__socials {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__social {
  margin-left: auto;
  width: 30px;
  height: 30px;
  svg {
    width: 100%;
    height: 100%;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: center;
  margin: 0 auto;
}

.nav-link {
  padding: 10px;
  color: #2b2b2b;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  transition: color 0.3s ease-in-out;
  &::before {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 10px;
    width: calc(100% - 20px);
    height: 2px;
    content: "";
    background-color: $brand-color;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  &:hover {
    color: $brand-color;
    &::before {
      opacity: 1;
    }
  }
}

.main-screen {
  border-radius: 0 0 100px 100px;
  padding: 240px 0;
  h1 {
    color: #2b2b2b;
    text-align: center;
    font-family: "Unbounded";
    font-size: 74px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  .btn {
    margin: 0 auto;
    margin-top: 60px;
  }
}

.btn {
  display: block;
  width: fit-content;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 20px;
  padding-left: 40px;
  border-radius: 64px;
  background: linear-gradient(0deg, #e15b00 0%, #e36f17 100%);
  display: flex;
  align-items: center;
  gap: 30px;
  span {
    display: block;
  }
  .btn-ico {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
  }
}

.advantages {
  padding: 80px 0;
}

.advantages-list {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  .list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #e15b00;
    text-align: center;
    font-family: "Unbounded";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    &::before {
      display: block;
      content: "";
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M24.5649 12.289L15.8537 21L11.4352 16.5814' stroke='%23E15B00' stroke-width='4'/%3e%3c/svg%3e ");
      width: 36px;
      height: 36px;
    }
  }
}

.section-title {
  color: #2b2b2b;
  font-family: "Unbounded";
  font-size: 42px;
  font-weight: 600;
  line-height: 120%;
}

.section-descr {
  color: #2b2b2b;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: block;
}

.help-with {
  padding: 100px 0;
  max-width: 100vw;
  overflow: hidden;
  border-top: 1px solid #cfcfcf;
  background-image: url(../img/help-with-bg.png);
  background-repeat: no-repeat;
  background-position: left -756px bottom -500px;

  .section-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .section-descr {
    text-align: center;
  }
}

.help-with__image {
  z-index: 2;
  position: absolute;
  left: -91px;
  bottom: -161px;
  width: 439px;
  height: 867px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.cards-slider {
  padding-top: 60px;
  overflow: visible;
  padding-left: 320px;
}

.cards-slide {
  max-width: 480px;
  width: 100%;
  padding: 38px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 3px 3px 13px 2px rgba(0, 0, 0, 0.05);
  height: auto;
  display: flex;
  flex-direction: column;
  .list-item {
    color: #e15b00;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
}

.cards-slide__list {
  padding-left: 20px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cards-slide__title {
  color: #2b2b2b;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.cards-slide__bottom {
  border-top: 1px solid #cfcfcf;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #2b2b2b;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  p {
    margin: 0;
  }
}

.cards-slide__subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.cards-slide__action {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e15b00;
  font-size: 20px;
  font-weight: 700;
  .ico {
    width: 48px;
    height: 48px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='1' y='1' width='46' height='46' rx='23' stroke='%23E15B00' stroke-width='2'/%3e%3cpath d='M21 18L27 24L21 30' stroke='%23E15B00' stroke-width='2'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex-shrink: 0;
  }
}

.cards-nav {
  padding-top: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  * {
    margin: 0;
    transform: none;
    position: static;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 6px 12px;
    background-position: center;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.707154 0.707031L6.70715 6.70704L0.707156 12.707' stroke='%23E15B00' stroke-width='2'/%3e%3c/svg%3e ");
    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    transform: scaleX(-1);
  }

  .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    background-color: #e15b00;
    margin: 0 !important;
  }

  .swiper-pagination {
    flex-wrap: wrap;
    width: fit-content;
    max-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 40px;
  }
}

.services {
  border-radius: 0 0 100px 100px;
  padding: 100px 0;
  background-image: url(../img/services-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
}

.services__blocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 767px;
  width: 100%;
  margin-top: 60px;
}

.service {
  border-radius: 24px;
  background: #fff;
  box-shadow: 2.861px 2.861px 12.875px 1.431px rgba(0, 0, 0, 0.05);
  padding: 38px;
  width: 100%;
  .btn {
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    border-radius: 24px;
    font-size: 20px;
    padding: 18px 28px;
  }
}

.service__content {
  h4 {
    color: #2b2b2b;
    font-family: "Unbounded";
    font-size: 30px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 20px;
  }
  p {
    color: #2b2b2b;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}

.service__head {
  display: flex;
  justify-content: space-between;
}
.service__price {
  padding-top: 15px;
  color: #2b2b2b;
  font-size: 42px;
  font-weight: 700;
}
.service__body {
  color: #e15b00;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sale-price {
  padding-top: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  span {
    color: #e15b00;
    display: block;
  }
  span:first-child {
    color: #2b2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: line-through;
  }

  &::before {
    content: "";
    position: absolute;
    right: -14px;
    top: -10px;
    width: 35px;
    height: 21px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='36' height='21' viewBox='0 0 36 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M24.1045 14.2168L35.4922 4.95605L31.1738 21H4.31836L0 4.95605L11.3877 14.2168L17.7461 0L24.1045 14.2168Z' fill='%23E15B00'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.sale-service {
  border: 2px solid #e15b00;
}
