@use "./normalize.scss";

/* Regular (Обычный) */
@font-face {
  font-family: "Inter";
  src:
    url("../fonts/Inter_18pt-Regular.woff2") format("woff2"),
    url("../fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium (Средний) */
@font-face {
  font-family: "Inter";
  src:
    url("../fonts/Inter_18pt-Medium.woff2") format("woff2"),
    url("../fonts/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Bold (Жирный) */
@font-face {
  font-family: "Inter";
  src:
    url("../fonts/Inter_18pt-Bold.woff2") format("woff2"),
    url("../fonts/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ExtraBold (Экстра Жирный) */
@font-face {
  font-family: "Inter";
  src:
    url("../fonts/Inter_18pt-ExtraBold.woff2") format("woff2"),
    url("../fonts/Inter_18pt-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* --- Unbounded --- */

/* SemiBold (Полужирный) */
@font-face {
  font-family: "Unbounded";
  src:
    url("../fonts/Unbounded-SemiBold.woff2") format("woff2"),
    url("../fonts/Unbounded-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #f1eeee;
}

.container {
  max-width: 1240px;
  padding: 0px 20px;
  width: 100%;
  margin: 0 auto;
}

$brand-color: #e15b00;

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
}
.header__wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.header__logo {
  width: 220px;
  height: 50px;
  flex-shrink: 0;
  img {
    object-fit: contain;
  }
}

.header__socials {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__social {
  margin-left: auto;
  width: 30px;
  height: 30px;
  svg {
    width: 100%;
    height: 100%;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: center;
  margin: 0 auto;
}

.nav-link {
  padding: 10px;
  color: #2b2b2b;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  transition: color 0.3s ease-in-out;
  &::before {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 10px;
    width: calc(100% - 20px);
    height: 2px;
    content: "";
    background-color: $brand-color;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  &:hover {
    color: $brand-color;
    &::before {
      opacity: 1;
    }
  }
}

.main-screen {
  border-radius: 0 0 100px 100px;
  padding: 240px 0;
  h1 {
    color: #2b2b2b;
    text-align: center;
    font-family: "Unbounded";
    font-size: 74px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  .btn {
    margin: 0 auto;
    margin-top: 60px;
  }
}

.btn {
  display: block;
  width: fit-content;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 20px;
  padding-left: 40px;
  border-radius: 64px;
  background: linear-gradient(0deg, #e15b00 0%, #e36f17 100%);
  display: flex;
  align-items: center;
  gap: 30px;
  span {
    display: block;
  }
  .btn-ico {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
  }
}
